body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  color: #ffff00; /* Pac-Man geel */
}

#game-container {
  margin-bottom: 20px;
}

canvas {
  border: 2px solid #fff;
  display: block; /* Zorgt ervoor dat er geen extra ruimte onder het canvas is */
}

#score,
#lives {
  font-size: 1.2em;
  margin-top: 10px;
}
